In [1]:

import pandas as pd
import numpy as np

In [2]:
zaiseki=pd.read_csv('data/在籍者データ.csv',encoding="cp932")
taikai=pd.read_csv('data/退会者データ.csv',encoding="cp932")

In [3]:
zdf=pd.DataFrame(data=zaiseki)
edz=zdf[["性別","年齢","入会日"]]
tdf=pd.DataFrame(data=zaiseki)
edt=tdf[["性別","年齢","入会日"]]

In [4]:
edz

    性別  年齢         入会日
0    女  62  2020/02/05
1    女  66  2020/02/26
2    男  67  2020/03/17
3    女  47  2021/03/18
4    男  43  2021/04/18
..  ..  ..         ...
292  男  34  2022/09/04
293  男  67  2022/09/05
294  女  50  2022/09/06
295  女  18  2022/09/08
296  女  22  2022/09/08

[297 rows x 3 columns]

In [11]:
dt=edz.loc[0,"入会日"]
pd.to_datetime(dt).month

2

In [33]:

def extract_composition_monthly(data):
    age_belt = [20, 30, 40, 50, 60, 150]
    result=[]
    i=0
    m=0
    while i<len(data.index):
        m_rslt=[0]*(len(age_belt)+2)
        while m == pd.to_datetime(data.loc[i, "入会日"]).month:
            print(data.loc[i])
            for j,e in enumerate(age_belt):
                if data.loc[i,"年齢"]<e:
                    m_rslt[j]+=1
                    break
            if data.loc[i,"性別"]=="男":
                m_rslt[len(age_belt)]+=1
            else:
                m_rslt[len(age_belt)+1]+=1
            i+=1
        m_rslt.append([])
        m = pd.to_datetime(data.loc[i, "入会日"]).month
        print(m)
        
        print(m_rslt)
        result.append(m_rslt)
    return result

In [34]:
rst=extract_composition_monthly(edz)
rst

2
[0, 0, 0, 0, 0, 0, 0, 0, []]
性別              女
年齢             62
入会日    2020/02/05
Name: 0, dtype: object
性別              女
年齢             66
入会日    2020/02/26
Name: 1, dtype: object
3
[0, 0, 0, 0, 0, 2, 0, 2, []]
性別              男
年齢             67
入会日    2020/03/17
Name: 2, dtype: object
性別              女
年齢             47
入会日    2021/03/18
Name: 3, dtype: object
4
[0, 0, 0, 1, 0, 1, 1, 1, []]
性別              男
年齢             43
入会日    2021/04/18
Name: 4, dtype: object
6
[0, 0, 0, 1, 0, 0, 1, 0, []]
性別              女
年齢             81
入会日    2018/06/12
Name: 5, dtype: object
11
[0, 0, 0, 0, 0, 1, 0, 1, []]
性別              女
年齢             52
入会日    2020/11/07
Name: 6, dtype: object
10
[0, 0, 0, 0, 1, 0, 0, 1, []]
性別              女
年齢             41
入会日    2020/10/29
Name: 7, dtype: object
11
[0, 0, 0, 1, 0, 0, 0, 1, []]
性別              男
年齢             22
入会日    2020/11/11
Name: 8, dtype: object
2
[0, 1, 0, 0, 0, 0, 1, 0, []]
性別              男
年齢             75
入会日    2017/02/14
Name: 9, dtype: object
性別              女
年齢             56
入会日    2020/02/01
Name: 10, dtype: object
11
[0, 0, 0, 0, 1, 1, 1, 1, []]
性別              女
年齢             58
入会日    2020/11/18
Name: 11, dtype: object
3
[0, 0, 0, 0, 1, 0, 0, 1, []]
性別              女
年齢             61
入会日    2021/03/01
Name: 12, dtype: object
6
[0, 0, 0, 0, 0, 1, 0, 1, []]
性別              女
年齢             67
入会日    2017/06/16
Name: 13, dtype: object
1
[0, 0, 0, 0, 0, 1, 0, 1, []]
性別              女
年齢             67
入会日    2021/01/12
Name: 14, dtype: object
8
[0, 0, 0, 0, 0, 1, 0, 1, []]
性別              女
年齢             59
入会日    2017/08/30
Name: 15, dtype: object
4
[0, 0, 0, 0, 1, 0, 0, 1, []]
性別              女
年齢             41
入会日    2021/04/12
Name: 16, dtype: object
9
[0, 0, 0, 1, 0, 0, 0, 1, []]
性別              女
年齢             71
入会日    2016/09/07
Name: 17, dtype: object
10
[0, 0, 0, 0, 0, 1, 0, 1, []]
性別              女
年齢             63
入会日    2016/10/28
Name: 18, dtype: object
9
[0, 0, 0, 0, 0, 1, 0, 1, []]
性別              男
年齢             71
入会日    2019/09/28
Name: 19, dtype: object
4
[0, 0, 0, 0, 0, 1, 1, 0, []]
性別              女
年齢             60
入会日    2021/04/04
Name: 20, dtype: object
11
[0, 0, 0, 0, 0, 1, 0, 1, []]
性別              女
年齢             26
入会日    2020/11/21
Name: 21, dtype: object
9
[0, 1, 0, 0, 0, 0, 0, 1, []]
性別              女
年齢             50
入会日    2019/09/19
Name: 22, dtype: object
2
[0, 0, 0, 0, 1, 0, 0, 1, []]
性別              女
年齢             50
入会日    2021/02/25
Name: 23, dtype: object
6
[0, 0, 0, 0, 1, 0, 0, 1, []]
性別              女
年齢             59
入会日    2016/06/28
Name: 24, dtype: object
12
[0, 0, 0, 0, 1, 0, 0, 1, []]
性別              女
年齢             47
入会日    2020/12/17
Name: 25, dtype: object
10
[0, 0, 0, 1, 0, 0, 0, 1, []]
性別              女
年齢             40
入会日    2019/10/16
Name: 26, dtype: object
8
[0, 0, 0, 1, 0, 0, 0, 1, []]
性別              男
年齢             44
入会日    2019/08/07
Name: 27, dtype: object
6
[0, 0, 0, 1, 0, 0, 1, 0, []]
性別              女
年齢             56
入会日    2019/06/10
Name: 28, dtype: object
2
[0, 0, 0, 0, 1, 0, 0, 1, []]
性別              女
年齢             75
入会日    2016/02/26
Name: 29, dtype: object
3
[0, 0, 0, 0, 0, 1, 0, 1, []]
性別              女
年齢             45
入会日    2021/03/25
Name: 30, dtype: object
性別              女
年齢             82
入会日    2016/03/02
Name: 31, dtype: object
6
[0, 0, 0, 1, 0, 1, 0, 2, []]
性別              男
年齢             58
入会日    2019/06/02
Name: 32, dtype: object
11
[0, 0, 0, 0, 1, 0, 1, 0, []]
性別              男
年齢             58
入会日    2020/11/09
Name: 33, dtype: object
3
[0, 0, 0, 0, 1, 0, 1, 0, []]
性別              男
年齢             28
入会日    2021/03/31
Name: 34, dtype: object
10
[0, 1, 0, 0, 0, 0, 1, 0, []]
性別              女
年齢             28
入会日    2020/10/22
Name: 35, dtype: object
9
[0, 1, 0, 0, 0, 0, 0, 1, []]
性別              女
年齢             59
入会日    2019/09/11
Name: 36, dtype: object
3
[0, 0, 0, 0, 1, 0, 0, 1, []]
性別              女
年齢             85
入会日    2016/03/04
Name: 37, dtype: object
10
[0, 0, 0, 0, 0, 1, 0, 1, []]
性別              女
年齢             60
入会日    2020/10/24
Name: 38, dtype: object
6
[0, 0, 0, 0, 0, 1, 0, 1, []]
性別              男
年齢             51
入会日    2019/06/17
Name: 39, dtype: object
3
[0, 0, 0, 0, 1, 0, 1, 0, []]
性別              女
年齢             74
入会日    2016/03/05
Name: 40, dtype: object
1
[0, 0, 0, 0, 0, 1, 0, 1, []]
性別              女
年齢             58
入会日    2021/01/23
Name: 41, dtype: object
10
[0, 0, 0, 0, 1, 0, 0, 1, []]
性別              女
年齢             32
入会日    2020/10/21
Name: 42, dtype: object
7
[0, 0, 1, 0, 0, 0, 0, 1, []]
性別              女
年齢             44
入会日    2019/07/13
Name: 43, dtype: object
6
[0, 0, 0, 1, 0, 0, 0, 1, []]
性別              女
年齢             62
入会日    2016/06/10
Name: 44, dtype: object
10
[0, 0, 0, 0, 0, 1, 0, 1, []]
性別              女
年齢             65
入会日    2020/10/08
Name: 45, dtype: object
7
[0, 0, 0, 0, 0, 1, 0, 1, []]
性別              女
年齢             53
入会日    2019/07/10
Name: 46, dtype: object
性別              女
年齢             49
入会日    2019/07/18
Name: 47, dtype: object
10
[0, 0, 0, 1, 1, 0, 0, 2, []]
性別              男
年齢             40
入会日    2020/10/04
Name: 48, dtype: object
1
[0, 0, 0, 1, 0, 0, 1, 0, []]
性別              女
年齢             57
入会日    2020/01/19
Name: 49, dtype: object
8
[0, 0, 0, 0, 1, 0, 0, 1, []]
性別              女
年齢             67
入会日    2019/08/05
Name: 50, dtype: object
9
[0, 0, 0, 0, 0, 1, 0, 1, []]
性別              女
年齢             49
入会日    2020/09/05
Name: 51, dtype: object
8
[0, 0, 0, 1, 0, 0, 0, 1, []]
性別              女
年齢             57
入会日    2020/08/09
Name: 52, dtype: object
1
[0, 0, 0, 0, 1, 0, 0, 1, []]
性別              女
年齢             56
入会日    2020/01/14
Name: 53, dtype: object
8
[0, 0, 0, 0, 1, 0, 0, 1, []]
性別              男
年齢             36
入会日    2020/08/12
Name: 54, dtype: object
6
[0, 0, 1, 0, 0, 0, 1, 0, []]
性別              女
年齢             53
入会日    2019/06/10
Name: 55, dtype: object
3
[0, 0, 0, 0, 1, 0, 0, 1, []]
性別              女
年齢             35
入会日    2022/03/14
Name: 56, dtype: object
8
[0, 0, 1, 0, 0, 0, 0, 1, []]
性別              男
年齢             52
入会日    2020/08/10
Name: 57, dtype: object
3
[0, 0, 0, 0, 1, 0, 1, 0, []]
性別              男
年齢             28
入会日    2021/03/11
Name: 58, dtype: object
6
[0, 1, 0, 0, 0, 0, 1, 0, []]
性別              女
年齢             48
入会日    2019/06/12
Name: 59, dtype: object
9
[0, 0, 0, 1, 0, 0, 0, 1, []]
性別              男
年齢             63
入会日    2020/09/20
Name: 60, dtype: object
7
[0, 0, 0, 0, 0, 1, 1, 0, []]
性別              女
年齢             57
入会日    2020/07/18
Name: 61, dtype: object
性別              女
年齢             49
入会日    2020/07/12
Name: 62, dtype: object
3
[0, 0, 0, 1, 1, 0, 0, 2, []]
性別              女
年齢             55
入会日    2019/03/18
Name: 63, dtype: object
10
[0, 0, 0, 0, 1, 0, 0, 1, []]
性別              女
年齢             42
入会日    2020/10/06
Name: 64, dtype: object
7
[0, 0, 0, 1, 0, 0, 0, 1, []]
性別              女
年齢             61
入会日    2020/07/21
Name: 65, dtype: object
11
[0, 0, 0, 0, 0, 1, 0, 1, []]
性別              女
年齢             56
入会日    2017/11/09
Name: 66, dtype: object
1
[0, 0, 0, 0, 1, 0, 0, 1, []]
性別              女
年齢             53
入会日    2020/01/28
Name: 67, dtype: object
9
[0, 0, 0, 0, 1, 0, 0, 1, []]
性別              女
年齢             55
入会日    2017/09/25
Name: 68, dtype: object
8
[0, 0, 0, 0, 1, 0, 0, 1, []]
性別              男
年齢             59
入会日    2020/08/08
Name: 69, dtype: object
2
[0, 0, 0, 0, 1, 0, 1, 0, []]
性別              女
年齢             59
入会日    2019/02/13
Name: 70, dtype: object
4
[0, 0, 0, 0, 1, 0, 0, 1, []]
性別              女
年齢             51
入会日    2019/04/14
Name: 71, dtype: object
7
[0, 0, 0, 0, 1, 0, 0, 1, []]
性別              女
年齢             36
入会日    2021/07/30
Name: 72, dtype: object
8
[0, 0, 1, 0, 0, 0, 0, 1, []]
性別              女
年齢             38
入会日    2021/08/02
Name: 73, dtype: object
性別              女
年齢             57
入会日    2021/08/08
Name: 74, dtype: object
性別              女
年齢             48
入会日    2021/08/10
Name: 75, dtype: object
性別              男
年齢             37
入会日    2021/08/12
Name: 76, dtype: object
性別              女
年齢             80
入会日    2021/08/12
Name: 77, dtype: object
性別              男
年齢             44
入会日    2021/08/12
Name: 78, dtype: object
性別              女
年齢             41
入会日    2021/08/13
Name: 79, dtype: object
性別              女
年齢             46
入会日    2021/08/14
Name: 80, dtype: object
性別              男
年齢             58
入会日    2021/08/14
Name: 81, dtype: object
性別              男
年齢             26
入会日    2021/08/14
Name: 82, dtype: object
性別              女
年齢             40
入会日    2021/08/15
Name: 83, dtype: object
性別              女
年齢             75
入会日    2021/08/23
Name: 84, dtype: object
性別              男
年齢             41
入会日    2021/08/18
Name: 85, dtype: object
性別              女
年齢             45
入会日    2021/08/18
Name: 86, dtype: object
性別              女
年齢             76
入会日    2021/08/23
Name: 87, dtype: object
性別              男
年齢             59
入会日    2021/08/23
Name: 88, dtype: object
性別              男
年齢             46
入会日    2021/08/24
Name: 89, dtype: object
性別              女
年齢             52
入会日    2021/08/24
Name: 90, dtype: object
性別              男
年齢             49
入会日    2021/08/27
Name: 91, dtype: object
性別              女
年齢             28
入会日    2021/08/29
Name: 92, dtype: object
性別              女
年齢             52
入会日    2021/08/30
Name: 93, dtype: object
性別              男
年齢             62
入会日    2021/08/31
Name: 94, dtype: object
9
[0, 2, 2, 9, 5, 4, 9, 13, []]
性別              女
年齢             29
入会日    2021/09/01
Name: 95, dtype: object
性別              女
年齢             58
入会日    2021/09/04
Name: 96, dtype: object
性別              女
年齢             41
入会日    2021/09/05
Name: 97, dtype: object
性別              男
年齢             29
入会日    2021/09/09
Name: 98, dtype: object
性別              男
年齢             39
入会日    2021/09/10
Name: 99, dtype: object
性別              女
年齢             48
入会日    2021/09/16
Name: 100, dtype: object
性別              女
年齢             32
入会日    2021/09/20
Name: 101, dtype: object
性別              女
年齢             33
入会日    2021/09/21
Name: 102, dtype: object
性別              女
年齢             44
入会日    2021/09/21
Name: 103, dtype: object
性別              女
年齢             24
入会日    2021/09/23
Name: 104, dtype: object
性別              男
年齢             23
入会日    2021/09/23
Name: 105, dtype: object
性別              女
年齢             47
入会日    2021/09/25
Name: 106, dtype: object
性別              女
年齢             49
入会日    2021/09/29
Name: 107, dtype: object
性別              女
年齢             20
入会日    2021/09/30
Name: 108, dtype: object
10
[0, 5, 3, 5, 1, 0, 3, 11, []]
性別              男
年齢             57
入会日    2021/10/03
Name: 109, dtype: object
性別              女
年齢             53
入会日    2021/10/03
Name: 110, dtype: object
性別              男
年齢             63
入会日    2021/10/04
Name: 111, dtype: object
性別              男
年齢             37
入会日    2021/10/06
Name: 112, dtype: object
性別              女
年齢             47
入会日    2021/10/10
Name: 113, dtype: object
性別              女
年齢             49
入会日    2021/10/12
Name: 114, dtype: object
性別              男
年齢             68
入会日    2021/10/14
Name: 115, dtype: object
性別              男
年齢             30
入会日    2021/10/15
Name: 116, dtype: object
性別              女
年齢             26
入会日    2021/10/16
Name: 117, dtype: object
性別              女
年齢             63
入会日    2021/10/18
Name: 118, dtype: object
性別              女
年齢             27
入会日    2021/10/19
Name: 119, dtype: object
性別              女
年齢             39
入会日    2021/10/28
Name: 120, dtype: object
性別              女
年齢             59
入会日    2021/10/31
Name: 121, dtype: object
11
[0, 2, 3, 2, 3, 3, 5, 8, []]
性別              男
年齢             42
入会日    2021/11/03
Name: 122, dtype: object
性別              女
年齢             32
入会日    2021/11/06
Name: 123, dtype: object
性別              男
年齢             39
入会日    2021/11/06
Name: 124, dtype: object
性別              女
年齢             37
入会日    2021/11/07
Name: 125, dtype: object
性別              女
年齢             33
入会日    2021/11/07
Name: 126, dtype: object
性別              男
年齢             44
入会日    2021/11/13
Name: 127, dtype: object
性別              女
年齢             51
入会日    2021/11/14
Name: 128, dtype: object
性別              女
年齢             24
入会日    2021/11/14
Name: 129, dtype: object
性別              女
年齢             59
入会日    2021/11/14
Name: 130, dtype: object
性別              男
年齢             60
入会日    2021/11/14
Name: 131, dtype: object
性別              女
年齢             48
入会日    2021/11/20
Name: 132, dtype: object
性別              男
年齢             63
入会日    2021/11/20
Name: 133, dtype: object
性別              女
年齢             37
入会日    2021/11/23
Name: 134, dtype: object
性別              女
年齢             31
入会日    2021/11/27
Name: 135, dtype: object
性別              女
年齢             39
入会日    2021/11/27
Name: 136, dtype: object
性別              女
年齢             55
入会日    2021/11/30
Name: 137, dtype: object
性別              女
年齢             51
入会日    2021/11/30
Name: 138, dtype: object
12
[0, 1, 7, 3, 4, 2, 5, 12, []]
性別              女
年齢             20
入会日    2021/12/02
Name: 139, dtype: object
性別              女
年齢             29
入会日    2021/12/04
Name: 140, dtype: object
性別              女
年齢             70
入会日    2021/12/04
Name: 141, dtype: object
性別              男
年齢             41
入会日    2021/12/04
Name: 142, dtype: object
性別              女
年齢             52
入会日    2021/12/06
Name: 143, dtype: object
性別              男
年齢             57
入会日    2021/12/06
Name: 144, dtype: object
性別              女
年齢             43
入会日    2021/12/07
Name: 145, dtype: object
性別              男
年齢             45
入会日    2021/12/11
Name: 146, dtype: object
性別              男
年齢             35
入会日    2021/12/14
Name: 147, dtype: object
性別              女
年齢             31
入会日    2021/12/14
Name: 148, dtype: object
性別              女
年齢             23
入会日    2021/12/16
Name: 149, dtype: object
性別              男
年齢             34
入会日    2021/12/18
Name: 150, dtype: object
性別              女
年齢             30
入会日    2021/12/18
Name: 151, dtype: object
性別              女
年齢             19
入会日    2021/12/19
Name: 152, dtype: object
性別              女
年齢             32
入会日    2021/12/21
Name: 153, dtype: object
性別              男
年齢             37
入会日    2021/12/21
Name: 154, dtype: object
性別              女
年齢             58
入会日    2021/12/25
Name: 155, dtype: object
性別              男
年齢             38
入会日    2021/12/25
Name: 156, dtype: object
性別              男
年齢             26
入会日    2021/12/25
Name: 157, dtype: object
性別              男
年齢             32
入会日    2021/12/25
Name: 158, dtype: object
性別              男
年齢             49
入会日    2021/12/28
Name: 159, dtype: object
1
[1, 4, 8, 4, 3, 1, 10, 11, []]
性別              女
年齢             35
入会日    2022/01/08
Name: 160, dtype: object
性別              女
年齢             35
入会日    2022/01/13
Name: 161, dtype: object
性別              女
年齢             35
入会日    2022/01/13
Name: 162, dtype: object
性別              男
年齢             32
入会日    2022/01/13
Name: 163, dtype: object
性別              女
年齢             22
入会日    2022/01/14
Name: 164, dtype: object
性別              女
年齢             30
入会日    2022/01/17
Name: 165, dtype: object
性別              男
年齢             51
入会日    2022/01/18
Name: 166, dtype: object
性別              女
年齢             57
入会日    2022/01/25
Name: 167, dtype: object
性別              男
年齢             46
入会日    2022/01/25
Name: 168, dtype: object
性別              男
年齢             29
入会日    2022/01/26
Name: 169, dtype: object
2
[0, 2, 5, 1, 2, 0, 4, 6, []]
性別              女
年齢             54
入会日    2022/02/03
Name: 170, dtype: object
性別              女
年齢             46
入会日    2022/02/04
Name: 171, dtype: object
性別              男
年齢             34
入会日    2022/02/06
Name: 172, dtype: object
性別              男
年齢             43
入会日    2022/02/07
Name: 173, dtype: object
性別              女
年齢             38
入会日    2022/02/09
Name: 174, dtype: object
性別              男
年齢             27
入会日    2022/02/10
Name: 175, dtype: object
性別              女
年齢             49
入会日    2022/02/12
Name: 176, dtype: object
性別              女
年齢             28
入会日    2022/02/13
Name: 177, dtype: object
性別              女
年齢             41
入会日    2022/02/15
Name: 178, dtype: object
性別              女
年齢             56
入会日    2022/02/15
Name: 179, dtype: object
性別              女
年齢             45
入会日    2022/02/22
Name: 180, dtype: object
性別              女
年齢             32
入会日    2022/02/27
Name: 181, dtype: object
性別              男
年齢             49
入会日    2022/02/27
Name: 182, dtype: object
性別              女
年齢             53
入会日    2022/02/27
Name: 183, dtype: object
性別              女
年齢             27
入会日    2022/02/27
Name: 184, dtype: object
性別              女
年齢             57
入会日    2022/02/28
Name: 185, dtype: object
性別              男
年齢             48
入会日    2022/02/28
Name: 186, dtype: object
性別              女
年齢             28
入会日    2022/02/28
Name: 187, dtype: object
3
[0, 4, 3, 7, 4, 0, 5, 13, []]
性別              女
年齢             68
入会日    2022/03/02
Name: 188, dtype: object
性別              男
年齢             49
入会日    2022/03/05
Name: 189, dtype: object
性別              女
年齢             44
入会日    2022/03/14
Name: 190, dtype: object
性別              男
年齢             38
入会日    2022/03/28
Name: 191, dtype: object
4
[0, 0, 1, 2, 0, 1, 2, 2, []]
性別              男
年齢             32
入会日    2022/04/03
Name: 192, dtype: object
性別              男
年齢             67
入会日    2022/04/04
Name: 193, dtype: object
性別              女
年齢             64
入会日    2022/04/04
Name: 194, dtype: object
性別              女
年齢             30
入会日    2022/04/09
Name: 195, dtype: object
性別              男
年齢             47
入会日    2022/04/09
Name: 196, dtype: object
性別              女
年齢             65
入会日    2022/04/10
Name: 197, dtype: object
性別              女
年齢             56
入会日    2022/04/10
Name: 198, dtype: object
性別              男
年齢             59
入会日    2022/04/10
Name: 199, dtype: object
性別              女
年齢             59
入会日    2022/04/10
Name: 200, dtype: object
性別              女
年齢             75
入会日    2022/04/12
Name: 201, dtype: object
性別              女
年齢             59
入会日    2022/04/13
Name: 202, dtype: object
性別              男
年齢             25
入会日    2022/04/14
Name: 203, dtype: object
性別              女
年齢             22
入会日    2022/04/14
Name: 204, dtype: object
性別              男
年齢             37
入会日    2022/04/18
Name: 205, dtype: object
性別              女
年齢             40
入会日    2022/04/19
Name: 206, dtype: object
性別              男
年齢             44
入会日    2022/04/20
Name: 207, dtype: object
性別              女
年齢             25
入会日    2022/04/20
Name: 208, dtype: object
性別              女
年齢             31
入会日    2022/04/21
Name: 209, dtype: object
性別              女
年齢             43
入会日    2022/04/21
Name: 210, dtype: object
性別              女
年齢             22
入会日    2022/04/22
Name: 211, dtype: object
性別              男
年齢             37
入会日    2022/04/24
Name: 212, dtype: object
性別              男
年齢             24
入会日    2022/04/26
Name: 213, dtype: object
性別              女
年齢             49
入会日    2022/04/27
Name: 214, dtype: object
性別              女
年齢             28
入会日    2022/04/28
Name: 215, dtype: object
5
[0, 6, 5, 5, 4, 4, 9, 15, []]
性別              女
年齢             37
入会日    2022/05/02
Name: 216, dtype: object
性別              女
年齢             28
入会日    2022/05/03
Name: 217, dtype: object
性別              男
年齢             30
入会日    2022/05/03
Name: 218, dtype: object
性別              女
年齢             21
入会日    2022/05/05
Name: 219, dtype: object
性別              女
年齢             32
入会日    2022/05/07
Name: 220, dtype: object
性別              女
年齢             45
入会日    2022/05/08
Name: 221, dtype: object
性別              女
年齢             36
入会日    2022/05/09
Name: 222, dtype: object
性別              女
年齢             37
入会日    2022/05/10
Name: 223, dtype: object

KeyError: 297

In [16]:
print(rst)

None