In [1]:

import pandas as pd
import numpy as np

In [2]:
zaiseki=pd.read_csv('data/在籍者データ.csv',encoding="cp932")
taikai=pd.read_csv('data/退会者データ.csv',encoding="cp932")

In [7]:
zdf=pd.DataFrame(data=zaiseki)
edz=zdf[["性別","年齢","入会日"]]
tdf=pd.DataFrame(data=taikai)
edt=tdf[["性別","年齢","入会日"]]
ed=pd.concat([edz,edt])

In [8]:
ed_s=ed.sort_values("入会日").reset_index(drop=True)
ed_s

    性別    年齢         入会日
0    女  75.0  2016/02/26
1    女  82.0  2016/03/02
2    女  85.0  2016/03/04
3    女  74.0  2016/03/05
4    女  62.0  2016/06/10
..  ..   ...         ...
461  男  34.0  2022/09/04
462  男  67.0  2022/09/05
463  女  50.0  2022/09/06
464  女  22.0  2022/09/08
465  女  18.0  2022/09/08

[466 rows x 3 columns]

In [ ]:
dt=edz.loc[0,"入会日"]
pd.to_datetime(dt).month

In [ ]:
a=[[0,0]]*10
print(a)
for i,e in enumerate([1,2,3,4,5]):
    a[i][1]+=1
a

In [9]:
import copy
def extract_composition_monthly(data):
    age_belt = [20, 30, 40, 50, 60,70,150]
    monthly_array=[[0,0],[0,0],[0,0],[0,0],[0,0],[0,0],[0,0]]
    result=[]
    i=0
    m=0
    while i<len(data.index):
        m_rslt=copy.deepcopy(monthly_array)
        if i<len(data.index):
            m_rslt.append([pd.to_datetime(data.loc[i, "入会日"]).year,pd.to_datetime(data.loc[i, "入会日"]).month])
            m = pd.to_datetime(data.loc[i, "入会日"]).month
        while  i<len(data.index) and m == pd.to_datetime(data.loc[i, "入会日"]).month:
            print(data.loc[i])
            for j,e in enumerate(age_belt):
                if data.loc[i,"年齢"]<e:
                    k=1
                    if data.loc[i,"性別"]=="男":
                        k=0                      
                    m_rslt[j][k]+=1
                    break
            i+=1        
        print(m_rslt)
        result.append(m_rslt)
    return result

In [10]:
rst=extract_composition_monthly(ed_s)
print(rst)

性別              女
年齢             75
入会日    2016/02/26
Name: 0, dtype: object
[[0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 1], [2016, 2]]
性別              女
年齢             82
入会日    2016/03/02
Name: 1, dtype: object
性別              女
年齢             85
入会日    2016/03/04
Name: 2, dtype: object
性別              女
年齢             74
入会日    2016/03/05
Name: 3, dtype: object
[[0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 3], [2016, 3]]
性別              女
年齢             62
入会日    2016/06/10
Name: 4, dtype: object
性別              女
年齢             59
入会日    2016/06/28
Name: 5, dtype: object
[[0, 0], [0, 0], [0, 0], [0, 0], [0, 1], [0, 1], [0, 0], [2016, 6]]
性別              女
年齢             71
入会日    2016/09/07
Name: 6, dtype: object
[[0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 1], [2016, 9]]
性別              女
年齢             63
入会日    2016/10/28
Name: 7, dtype: object
[[0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 1], [0, 0], [2016, 10]]
性別              男
年齢             75
入会日    2017/02/14
Name: 8, dtype: object
[[0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [1, 0], [2017, 2]]
性別              女
年齢             67
入会日    2017/06/16
Name: 9, dtype: object
[[0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [0, 1], [0, 0], [2017, 6]]
性別              女
年齢             59
入会日    2017/08/30
Name: 10, dtype: object
[[0, 0], [0, 0], [0, 0], [0, 0], [0, 1], [0, 0], [0, 0], [2017, 8]]
性別              女
年齢             55
入会日    2017/09/25
Name: 11, dtype: object
[[0, 0], [0, 0], [0, 0], [0, 0], [0, 1], [0, 0], [0, 0], [2017, 9]]
性別              女
年齢             56
入会日    2017/11/09
Name: 12, dtype: object
[[0, 0], [0, 0], [0, 0], [0, 0], [0, 1], [0, 0], [0, 0], [2017, 11]]
性別              女
年齢             81
入会日    2018/06/12
Name: 13, dtype: object
性別              女
年齢             38
入会日    2018/06/22
Name: 14, dtype: object
[[0, 0], [0, 0], [0, 1], [0, 0], [0, 0], [0, 0], [0, 1], [2018, 6]]
性別              女
年齢             59
入会日    2019/02/13
Name: 15, dtype: object
[[0, 0], [0, 0], [0, 0], [0, 0], [0, 1], [0, 0], [0, 0], [2019, 2]]
性別              女
年齢             55
入会日    2019/03/18
Name: 16, dtype: object
性別              男
年齢            NaN
入会日    2019/03/30
Name: 17, dtype: object
[[0, 0], [0, 0], [0, 0], [0, 0], [0, 1], [0, 0], [0, 0], [2019, 3]]
性別              女
年齢             51
入会日    2019/04/14
Name: 18, dtype: object
[[0, 0], [0, 0], [0, 0], [0, 0], [0, 1], [0, 0], [0, 0], [2019, 4]]
性別              男
年齢             58
入会日    2019/06/02
Name: 19, dtype: object
性別              女
年齢            NaN
入会日    2019/06/10
Name: 20, dtype: object
性別              女
年齢             56
入会日    2019/06/10
Name: 21, dtype: object
性別              女
年齢             53
入会日    2019/06/10
Name: 22, dtype: object
性別              女
年齢             48
入会日    2019/06/12
Name: 23, dtype: object
性別              男
年齢             51
入会日    2019/06/17
Name: 24, dtype: object
[[0, 0], [0, 0], [0, 0], [0, 1], [2, 2], [0, 0], [0, 0], [2019, 6]]
性別              女
年齢             53
入会日    2019/07/10
Name: 25, dtype: object
性別              女
年齢             44
入会日    2019/07/13
Name: 26, dtype: object
性別              女
年齢             49
入会日    2019/07/18
Name: 27, dtype: object
[[0, 0], [0, 0], [0, 0], [0, 2], [0, 1], [0, 0], [0, 0], [2019, 7]]
性別              女
年齢             67
入会日    2019/08/05
Name: 28, dtype: object
性別              男
年齢             44
入会日    2019/08/07
Name: 29, dtype: object
[[0, 0], [0, 0], [0, 0], [1, 0], [0, 0], [0, 1], [0, 0], [2019, 8]]
性別              女
年齢             59
入会日    2019/09/11
Name: 30, dtype: object
性別              女
年齢             50
入会日    2019/09/19
Name: 31, dtype: object
性別              女
年齢             66
入会日    2019/09/25
Name: 32, dtype: object
性別              男
年齢             71
入会日    2019/09/28
Name: 33, dtype: object
[[0, 0], [0, 0], [0, 0], [0, 0], [0, 2], [0, 1], [1, 0], [2019, 9]]
性別              女
年齢             40
入会日    2019/10/16
Name: 34, dtype: object
[[0, 0], [0, 0], [0, 0], [0, 1], [0, 0], [0, 0], [0, 0], [2019, 10]]
性別              女
年齢             45
入会日    2020/01/04
Name: 35, dtype: object
性別              女
年齢             40
入会日    2020/01/05
Name: 36, dtype: object
性別              女
年齢             56
入会日    2020/01/14
Name: 37, dtype: object
性別              女
年齢             57
入会日    2020/01/19
Name: 38, dtype: object
性別              女
年齢             53
入会日    2020/01/28
Name: 39, dtype: object
性別              女
年齢             64
入会日    2020/01/29
Name: 40, dtype: object
[[0, 0], [0, 0], [0, 0], [0, 2], [0, 3], [0, 1], [0, 0], [2020, 1]]
性別              女
年齢             56
入会日    2020/02/01
Name: 41, dtype: object
性別              女
年齢             62
入会日    2020/02/05
Name: 42, dtype: object
性別              女
年齢            NaN
入会日    2020/02/10
Name: 43, dtype: object
性別              女
年齢            NaN
入会日    2020/02/18
Name: 44, dtype: object
性別              女
年齢             66
入会日    2020/02/26
Name: 45, dtype: object
[[0, 0], [0, 0], [0, 0], [0, 0], [0, 1], [0, 2], [0, 0], [2020, 2]]
性別              男
年齢             67
入会日    2020/03/17
Name: 46, dtype: object
[[0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [1, 0], [0, 0], [2020, 3]]
性別              女
年齢             49
入会日    2020/07/12
Name: 47, dtype: object
性別              女
年齢             57
入会日    2020/07/18
Name: 48, dtype: object
性別              女
年齢             26
入会日    2020/07/20
Name: 49, dtype: object
性別              女
年齢             61
入会日    2020/07/21
Name: 50, dtype: object
[[0, 0], [0, 1], [0, 0], [0, 1], [0, 1], [0, 1], [0, 0], [2020, 7]]
性別              男
年齢             59
入会日    2020/08/08
Name: 51, dtype: object
性別              女
年齢             57
入会日    2020/08/09
Name: 52, dtype: object
性別              男
年齢             52
入会日    2020/08/10
Name: 53, dtype: object
性別              男
年齢             36
入会日    2020/08/12
Name: 54, dtype: object
[[0, 0], [0, 0], [1, 0], [0, 0], [2, 1], [0, 0], [0, 0], [2020, 8]]
性別              女
年齢             50
入会日    2020/09/03
Name: 55, dtype: object
性別              女
年齢             49
入会日    2020/09/05
Name: 56, dtype: object
性別              男
年齢            NaN
入会日    2020/09/17
Name: 57, dtype: object
性別              男
年齢             63
入会日    2020/09/20
Name: 58, dtype: object
[[0, 0], [0, 0], [0, 0], [0, 1], [0, 1], [1, 0], [0, 0], [2020, 9]]
性別              女
年齢             58
入会日    2020/10/03
Name: 59, dtype: object
性別              男
年齢             40
入会日    2020/10/04
Name: 60, dtype: object
性別              女
年齢             42
入会日    2020/10/06
Name: 61, dtype: object
性別              女
年齢             65
入会日    2020/10/08
Name: 62, dtype: object
性別              女
年齢             30
入会日    2020/10/14
Name: 63, dtype: object
性別              女
年齢            NaN
入会日    2020/10/18
Name: 64, dtype: object
性別              女
年齢             32
入会日    2020/10/21
Name: 65, dtype: object
性別              女
年齢             28
入会日    2020/10/22
Name: 66, dtype: object
性別              女
年齢             60
入会日    2020/10/24
Name: 67, dtype: object
性別              女
年齢             41
入会日    2020/10/29
Name: 68, dtype: object
[[0, 0], [0, 1], [0, 2], [1, 2], [0, 1], [0, 2], [0, 0], [2020, 10]]
性別              女
年齢             52
入会日    2020/11/07
Name: 69, dtype: object
性別              男
年齢             58
入会日    2020/11/09
Name: 70, dtype: object
性別              男
年齢             22
入会日    2020/11/11
Name: 71, dtype: object
性別              女
年齢             58
入会日    2020/11/18
Name: 72, dtype: object
性別              女
年齢             26
入会日    2020/11/21
Name: 73, dtype: object
[[0, 0], [1, 1], [0, 0], [0, 0], [1, 2], [0, 0], [0, 0], [2020, 11]]
性別              男
年齢            NaN
入会日    2020/12/01
Name: 74, dtype: object
性別              女
年齢             47
入会日    2020/12/17
Name: 75, dtype: object
[[0, 0], [0, 0], [0, 0], [0, 1], [0, 0], [0, 0], [0, 0], [2020, 12]]
性別              女
年齢            NaN
入会日    2021/01/11
Name: 76, dtype: object
性別              女
年齢             67
入会日    2021/01/12
Name: 77, dtype: object
性別              女
年齢             58
入会日    2021/01/23
Name: 78, dtype: object
性別              女
年齢            NaN
入会日    2021/01/28
Name: 79, dtype: object
性別              女
年齢            NaN
入会日    2021/01/28
Name: 80, dtype: object
[[0, 0], [0, 0], [0, 0], [0, 0], [0, 1], [0, 1], [0, 0], [2021, 1]]
性別              女
年齢             50
入会日    2021/02/25
Name: 81, dtype: object
[[0, 0], [0, 0], [0, 0], [0, 0], [0, 1], [0, 0], [0, 0], [2021, 2]]
性別              女
年齢             61
入会日    2021/03/01
Name: 82, dtype: object
性別              女
年齢             62
入会日    2021/03/04
Name: 83, dtype: object
性別              女
年齢             56
入会日    2021/03/10
Name: 84, dtype: object
性別              男
年齢             28
入会日    2021/03/11
Name: 85, dtype: object
性別              女
年齢             26
入会日    2021/03/13
Name: 86, dtype: object
性別              女
年齢             46
入会日    2021/03/15
Name: 87, dtype: object
性別              女
年齢             47
入会日    2021/03/18
Name: 88, dtype: object
性別              女
年齢            NaN
入会日    2021/03/21
Name: 89, dtype: object
性別              女
年齢             49
入会日    2021/03/23
Name: 90, dtype: object
性別              女
年齢             45
入会日    2021/03/25
Name: 91, dtype: object
性別              男
年齢             28
入会日    2021/03/31
Name: 92, dtype: object
[[0, 0], [2, 1], [0, 0], [0, 4], [0, 1], [0, 2], [0, 0], [2021, 3]]
性別              女
年齢             60
入会日    2021/04/04
Name: 93, dtype: object
性別              女
年齢            NaN
入会日    2021/04/05
Name: 94, dtype: object
性別              女
年齢             25
入会日    2021/04/08
Name: 95, dtype: object
性別              女
年齢             40
入会日    2021/04/08
Name: 96, dtype: object
性別              女
年齢             47
入会日    2021/04/11
Name: 97, dtype: object
性別              女
年齢             57
入会日    2021/04/12
Name: 98, dtype: object
性別              女
年齢             31
入会日    2021/04/12
Name: 99, dtype: object
性別              女
年齢             41
入会日    2021/04/12
Name: 100, dtype: object
性別              女
年齢            NaN
入会日    2021/04/14
Name: 101, dtype: object
性別              男
年齢             43
入会日    2021/04/18
Name: 102, dtype: object
性別              男
年齢             42
入会日    2021/04/19
Name: 103, dtype: object
性別              女
年齢             42
入会日    2021/04/19
Name: 104, dtype: object
[[0, 0], [0, 1], [0, 1], [2, 4], [0, 1], [0, 1], [0, 0], [2021, 4]]
性別              女
年齢             20
入会日    2021/06/03
Name: 105, dtype: object
[[0, 0], [0, 1], [0, 0], [0, 0], [0, 0], [0, 0], [0, 0], [2021, 6]]
性別              女
年齢             36
入会日    2021/07/30
Name: 106, dtype: object
[[0, 0], [0, 0], [0, 1], [0, 0], [0, 0], [0, 0], [0, 0], [2021, 7]]
性別              男
年齢             44
入会日    2021/08/01
Name: 107, dtype: object
性別              女
年齢             27
入会日    2021/08/02
Name: 108, dtype: object
性別              女
年齢             38
入会日    2021/08/02
Name: 109, dtype: object
性別              女
年齢             28
入会日    2021/08/02
Name: 110, dtype: object
性別              女
年齢             42
入会日    2021/08/06
Name: 111, dtype: object
性別              女
年齢             57
入会日    2021/08/08
Name: 112, dtype: object
性別              女
年齢             48
入会日    2021/08/10
Name: 113, dtype: object
性別              女
年齢             57
入会日    2021/08/10
Name: 114, dtype: object
性別              女
年齢             44
入会日    2021/08/11
Name: 115, dtype: object
性別              女
年齢             61
入会日    2021/08/11
Name: 116, dtype: object
性別              女
年齢             22
入会日    2021/08/12
Name: 117, dtype: object
性別              男
年齢             37
入会日    2021/08/12
Name: 118, dtype: object
性別              女
年齢             80
入会日    2021/08/12
Name: 119, dtype: object
性別              男
年齢             44
入会日    2021/08/12
Name: 120, dtype: object
性別              女
年齢             41
入会日    2021/08/13
Name: 121, dtype: object
性別              女
年齢             41
入会日    2021/08/13
Name: 122, dtype: object
性別              女
年齢             46
入会日    2021/08/14
Name: 123, dtype: object
性別              男
年齢             58
入会日    2021/08/14
Name: 124, dtype: object
性別              男
年齢             26
入会日    2021/08/14
Name: 125, dtype: object
性別              女
年齢             40
入会日    2021/08/15
Name: 126, dtype: object
性別              女
年齢             65
入会日    2021/08/16
Name: 127, dtype: object
性別              女
年齢             45
入会日    2021/08/18
Name: 128, dtype: object
性別              男
年齢             41
入会日    2021/08/18
Name: 129, dtype: object
性別              女
年齢             78
入会日    2021/08/21
Name: 130, dtype: object
性別              女
年齢             35
入会日    2021/08/21
Name: 131, dtype: object
性別              女
年齢             57
入会日    2021/08/21
Name: 132, dtype: object
性別              男
年齢             59
入会日    2021/08/23
Name: 133, dtype: object
性別              女
年齢             31
入会日    2021/08/23
Name: 134, dtype: object
性別              女
年齢             75
入会日    2021/08/23
Name: 135, dtype: object
性別              女
年齢             76
入会日    2021/08/23
Name: 136, dtype: object
性別              男
年齢             46
入会日    2021/08/24
Name: 137, dtype: object
性別              女
年齢             52
入会日    2021/08/24
Name: 138, dtype: object
性別              男
年齢             17
入会日    2021/08/24
Name: 139, dtype: object
性別              女
年齢             23
入会日    2021/08/24
Name: 140, dtype: object
性別              女
年齢             22
入会日    2021/08/24
Name: 141, dtype: object
性別              男
年齢             49
入会日    2021/08/27
Name: 142, dtype: object
性別              男
年齢             45
入会日    2021/08/28
Name: 143, dtype: object
性別              女
年齢             28
入会日    2021/08/29
Name: 144, dtype: object
性別              女
年齢             52
入会日    2021/08/30
Name: 145, dtype: object
性別              女
年齢             46
入会日    2021/08/30
Name: 146, dtype: object
性別              男
年齢             62
入会日    2021/08/31
Name: 147, dtype: object
性別              女
年齢             36
入会日    2021/08/31
Name: 148, dtype: object
[[1, 0], [1, 6], [1, 4], [6, 9], [2, 5], [1, 2], [0, 4], [2021, 8]]
性別              女
年齢             29
入会日    2021/09/01
Name: 149, dtype: object
性別              女
年齢             29
入会日    2021/09/01
Name: 150, dtype: object
性別              男
年齢             46
入会日    2021/09/02
Name: 151, dtype: object
性別              女
年齢             50
入会日    2021/09/02
Name: 152, dtype: object
性別              女
年齢             33
入会日    2021/09/03
Name: 153, dtype: object
性別              女
年齢             58
入会日    2021/09/04
Name: 154, dtype: object
性別              女
年齢             22
入会日    2021/09/04
Name: 155, dtype: object
性別              女
年齢             41
入会日    2021/09/05
Name: 156, dtype: object
性別              女
年齢             21
入会日    2021/09/07
Name: 157, dtype: object
性別              女
年齢             44
入会日    2021/09/07
Name: 158, dtype: object
性別              女
年齢             47
入会日    2021/09/07
Name: 159, dtype: object
性別              男
年齢             29
入会日    2021/09/09
Name: 160, dtype: object
性別              男
年齢             39
入会日    2021/09/10
Name: 161, dtype: object
性別              女
年齢             51
入会日    2021/09/11
Name: 162, dtype: object
性別              男
年齢             54
入会日    2021/09/11
Name: 163, dtype: object
性別              男
年齢             34
入会日    2021/09/12
Name: 164, dtype: object
性別              男
年齢             31
入会日    2021/09/12
Name: 165, dtype: object
性別              男
年齢             82
入会日    2021/09/13
Name: 166, dtype: object
性別              女
年齢             48
入会日    2021/09/16
Name: 167, dtype: object
性別              女
年齢             26
入会日    2021/09/19
Name: 168, dtype: object
性別              女
年齢             26
入会日    2021/09/20
Name: 169, dtype: object
性別              女
年齢             32
入会日    2021/09/20
Name: 170, dtype: object
性別              男
年齢             44
入会日    2021/09/21
Name: 171, dtype: object
性別              女
年齢             44
入会日    2021/09/21
Name: 172, dtype: object
性別              女
年齢             33
入会日    2021/09/21
Name: 173, dtype: object
性別              男
年齢             23
入会日    2021/09/23
Name: 174, dtype: object
性別              女
年齢             24
入会日    2021/09/23
Name: 175, dtype: object
性別              女
年齢             47
入会日    2021/09/25
Name: 176, dtype: object
性別              女
年齢             22
入会日    2021/09/29
Name: 177, dtype: object
性別              女
年齢             49
入会日    2021/09/29
Name: 178, dtype: object
性別              女
年齢             49
入会日    2021/09/29
Name: 179, dtype: object
性別              女
年齢             20
入会日    2021/09/30
Name: 180, dtype: object
性別              女
年齢             20
入会日    2021/09/30
Name: 181, dtype: object
性別              男
年齢             45
入会日    2021/09/30
Name: 182, dtype: object
性別              女
年齢             45
入会日    2021/09/30
Name: 183, dtype: object
[[0, 0], [2, 10], [3, 3], [3, 9], [1, 3], [0, 0], [1, 0], [2021, 9]]
性別              女
年齢             53
入会日    2021/10/03
Name: 184, dtype: object
性別              女
年齢             24
入会日    2021/10/03
Name: 185, dtype: object
性別              男
年齢             25
入会日    2021/10/03
Name: 186, dtype: object
性別              男
年齢             57
入会日    2021/10/03
Name: 187, dtype: object
性別              男
年齢             19
入会日    2021/10/04
Name: 188, dtype: object
性別              男
年齢             63
入会日    2021/10/04
Name: 189, dtype: object
性別              女
年齢             52
入会日    2021/10/06
Name: 190, dtype: object
性別              男
年齢             37
入会日    2021/10/06
Name: 191, dtype: object
性別              女
年齢             37
入会日    2021/10/09
Name: 192, dtype: object
性別              女
年齢             47
入会日    2021/10/10
Name: 193, dtype: object
性別              女
年齢             49
入会日    2021/10/12
Name: 194, dtype: object
性別              男
年齢             29
入会日    2021/10/13
Name: 195, dtype: object
性別              女
年齢             62
入会日    2021/10/13
Name: 196, dtype: object
性別              男
年齢             68
入会日    2021/10/14
Name: 197, dtype: object
性別              男
年齢             30
入会日    2021/10/15
Name: 198, dtype: object
性別              女
年齢             26
入会日    2021/10/16
Name: 199, dtype: object
性別              女
年齢             25
入会日    2021/10/16
Name: 200, dtype: object
性別              女
年齢             26
入会日    2021/10/17
Name: 201, dtype: object
性別              女
年齢             26
入会日    2021/10/17
Name: 202, dtype: object
性別              女
年齢             63
入会日    2021/10/18
Name: 203, dtype: object
性別              女
年齢             27
入会日    2021/10/19
Name: 204, dtype: object
性別              男
年齢             24
入会日    2021/10/21
Name: 205, dtype: object
性別              女
年齢             37
入会日    2021/10/23
Name: 206, dtype: object
性別              女
年齢             39
入会日    2021/10/28
Name: 207, dtype: object
性別              女
年齢             23
入会日    2021/10/28
Name: 208, dtype: object
性別              女
年齢             54
入会日    2021/10/28
Name: 209, dtype: object
性別              男
年齢             32
入会日    2021/10/31
Name: 210, dtype: object
性別              女
年齢             59
入会日    2021/10/31
Name: 211, dtype: object
性別              女
年齢             26
入会日    2021/10/31
Name: 212, dtype: object
[[1, 0], [3, 8], [3, 3], [0, 2], [1, 4], [2, 2], [0, 0], [2021, 10]]
性別              女
年齢             21
入会日    2021/11/01
Name: 213, dtype: object
性別              女
年齢             20
入会日    2021/11/03
Name: 214, dtype: object
性別              男
年齢             30
入会日    2021/11/03
Name: 215, dtype: object
性別              男
年齢             42
入会日    2021/11/03
Name: 216, dtype: object
性別              女
年齢             32
入会日    2021/11/04
Name: 217, dtype: object
性別              女
年齢             49
入会日    2021/11/04
Name: 218, dtype: object
性別              女
年齢             25
入会日    2021/11/04
Name: 219, dtype: object
性別              女
年齢             25
入会日    2021/11/06
Name: 220, dtype: object
性別              女
年齢             27
入会日    2021/11/06
Name: 221, dtype: object
性別              女
年齢             32

In [12]:
import matplotlib as mp

In [23]:
d=rst[35:]
r=[]
for i in d:
    y=i[0][0]+i[0][1]+i[1][0]+i[1][1]
    m=i[2][0]+i[2][1]+i[3][0]+i[3][1]
    e=i[4][0]+i[4][1]+i[5][0]+i[5][1]+i[6][0]+i[6][1]
    t=y+m+e
    r.append([t,y,m,e,m/t,i[7]])
    
for i in r:
    print(i)

t1=0
m1=0
for i in range(9):
    print(i)
    t1+=r[i][0]
    m1+=r[i][2]
t2=0
m2=0
for i in range(9,12):
    print(i)
    t2+=r[i][0]
    m2+=r[i][2]
print(m1/t1,m2/t2)

[35, 12, 18, 5, 0.5142857142857142, [2021, 9]]
[29, 12, 8, 9, 0.27586206896551724, [2021, 10]]
[37, 12, 17, 8, 0.4594594594594595, [2021, 11]]
[35, 9, 20, 6, 0.5714285714285714, [2021, 12]]
[21, 5, 9, 7, 0.42857142857142855, [2022, 1]]
[26, 8, 11, 7, 0.4230769230769231, [2022, 2]]
[11, 2, 6, 3, 0.5454545454545454, [2022, 3]]
[34, 11, 13, 10, 0.38235294117647056, [2022, 4]]
[33, 9, 21, 3, 0.6363636363636364, [2022, 5]]
[19, 7, 6, 6, 0.3157894736842105, [2022, 6]]
[16, 4, 7, 5, 0.4375, [2022, 7]]
[15, 5, 5, 5, 0.3333333333333333, [2022, 8]]
[5, 2, 1, 2, 0.2, [2022, 9]]
0
1
2
3
4
5
6
7
8
9
10
11
0.47126436781609193 0.36